.logo {
  width: 240px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0px;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
